div {
    display: flex;
    flex-wrap: wrap;
}
div a {
    background-color: rgb(211, 221, 228, 0.5);
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: #1150af;
}