<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">!Food minE!</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/cart-page">Cart</a>
                </li>
                <li>
                    <a href="#" routerLink="/contacts-page">Contacts</a>
                </li>
                <li>
                    <a href="#" routerLink="/reviews-page">Reviews</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
